
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Orbitron", sans-serif;
}


/* styles.css */
body {
  background-color: #0a0a0a;
  color: #fff;
  overflow-x: hidden;
}

.hero-img {
  background-image: url("../public/city.jpg");
  background-size: cover;
  background-position: center;
  height: 25vh;
  width: 100vw;
}

.hacks-container {
  position: relative;
  display: inline-block;
}

.animated-point {
  width: 2px;
  height: 2px;
  background-color: #ff007f;
  border-radius: 50%;
  position: absolute;
  top: -15px;
  /* Adjust as needed */
  left: -15px;
  /* Adjust as needed */
  animation: move-around 4s 1 linear;
}

@keyframes move-around {
  0% {
    top: -15px;
    left: -15px;
  }

  25% {
    top: -15px;
    left: 100%;
  }

  50% {
    top: 100%;
    left: 100%;
  }

  75% {
    top: 100%;
    left: -15px;
  }

  100% {
    top: -15px;
    left: -15px;
  }
}


.btn-layout {
  clip-path: polygon(0 43%, 100% 43%, 89% 87%, 26% 100%);
}

.link-layout {
  clip-path: polygon(0 43%, 100% 26%, 88% 86%, 29% 100%);
}

.secondary-layout {
  clip-path: polygon(0 41%, 98% 67%, 92% 91%, 31% 100%);
}