
.heroImage {
    background-image: url('/biohacks//cityNeon.avif');
    background-size: fill;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
  }